In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
df = pd.read_csv("Mental health Depression disorder Data.csv")
df = df[0:6468]
df

/var/folders/_4/rmwdgzks40sgbspscphgg6pw0000gp/T/ipykernel_19072/1116076683.py:4: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Mental health Depression disorder Data.csv")

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...,...,...,...,...,...
6463,6463,Zimbabwe,ZWE,2013,0.15567,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641
6464,6464,Zimbabwe,ZWE,2014,0.155993,0.60861,0.118073,3.093964,0.768914,3.140290,1.515470
6465,6465,Zimbabwe,ZWE,2015,0.156465,0.609363,0.11947,3.098687,0.771802,3.155710,1.514751
6466,6466,Zimbabwe,ZWE,2016,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269
6467,6467,Zimbabwe,ZWE,2017,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943

In [2]:
df.filter(items = ["Schizophrenia (%)", "Bipolar Disorder (%)", "Eating disorders (%)", "Anxiety disorders (%)", 
                  "Drug use disorders (%)", "Depression (%)", "Alcohol use disorders (%)"])

,Schizophrenia (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0.16056,0.101855,4.828830,1.677082,4.071831,0.672404
1,0.160312,0.099313,4.829740,1.684746,4.079531,0.671768
2,0.160135,0.096692,4.831108,1.694334,4.088358,0.670644
3,0.160037,0.094336,4.830864,1.705320,4.096190,0.669738
4,0.160022,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...
6463,0.15567,0.117248,3.090168,0.766280,3.128192,1.515641
6464,0.155993,0.118073,3.093964,0.768914,3.140290,1.515470
6465,0.156465,0.11947,3.098687,0.771802,3.155710,1.514751
6466,0.157111,0.121456,3.104294,0.772275,3.174134,1.513269
6467,0.157963,0.124443,3.110926,0.772648,3.192789,1.510943

In [3]:
grouped_data = df.groupby('Entity')

summary_statistics = grouped_data.describe()

print(summary_statistics)

                           index                                             \
                           count    mean       std     min      25%     50%
Entity
Afghanistan                 28.0    13.5  8.225975     0.0     6.75    13.5
Albania                     28.0    41.5  8.225975    28.0    34.75    41.5
Algeria                     28.0    69.5  8.225975    56.0    62.75    69.5
American Samoa              28.0    97.5  8.225975    84.0    90.75    97.5
Andean Latin America        28.0   125.5  8.225975   112.0   118.75   125.5
...                          ...     ...       ...     ...      ...     ...
Western Sub-Saharan Africa  28.0  6341.5  8.225975  6328.0  6334.75  6341.5
World                       28.0  6369.5  8.225975  6356.0  6362.75  6369.5
Yemen                       28.0  6397.5  8.225975  6384.0  6390.75  6397.5
Zambia                      28.0  6425.5  8.225975  6412.0  6418.75  6425.5
Zimbabwe                    28.0  6453.5  8.225975  6440.0  6446.75  6453.5

                                            Anxiety disorders (%)            \
                                75%     max                 count      mean
Entity
Afghanistan                   20.25    27.0                  28.0  4.848102
Albania                       48.25    55.0                  28.0  3.368903
Algeria                       76.25    83.0                  28.0  5.011396
American Samoa               104.25   111.0                  28.0  3.293312
Andean Latin America         132.25   139.0                  28.0  4.245343
...                             ...     ...                   ...       ...
Western Sub-Saharan Africa  6348.25  6355.0                  28.0  2.878408
World                       6376.25  6383.0                  28.0  3.792096
Yemen                       6404.25  6411.0                  28.0  4.833025
Zambia                      6432.25  6439.0                  28.0  3.560979
Zimbabwe                    6460.25  6467.0                  28.0  3.091770

                            ... Depression (%)            \
                            ...            75%       max
Entity                      ...
Afghanistan                 ...       4.130865  4.136347
Albania                     ...       2.208541  2.223407
Algeria                     ...       3.670795  3.732597
American Samoa              ...       2.943256  2.946838
Andean Latin America        ...       2.640448  2.655507
...                         ...            ...       ...
Western Sub-Saharan Africa  ...       3.781733  3.823984
World                       ...       3.541902  3.550852
Yemen                       ...       4.017155  4.020945
Zambia                      ...       3.595314  3.641811
Zimbabwe                    ...       3.107865  3.192789

                           Alcohol use disorders (%)                      \
                                               count      mean       std
Entity
Afghanistan                                     28.0  0.663151  0.004803
Albania                                         28.0  1.746757  0.074117
Algeria                                         28.0  0.653712  0.008320
American Samoa                                  28.0  1.135266  0.010257
Andean Latin America                            28.0  1.646372  0.071749
...                                              ...       ...       ...
Western Sub-Saharan Africa                      28.0  0.945113  0.015547
World                                           28.0  1.452807  0.025590
Yemen                                           28.0  0.631849  0.003297
Zambia                                          28.0  1.639368  0.010493
Zimbabwe                                        28.0  1.488051  0.022194


                                 min       25%       50%       75%       max
Entity
Afghanistan                 0.655686  0.660744  0.662324  0.666597  0.672404
Albania                     1.654338  1.691166  1.708800  1.838108  1.851517
Algeria                     0.644399  0.646709  0.649574  0.663709  0.665817
American Samoa              1.117152  1.128288  1.137414  1.141638  1.153825
Andean Latin America        1.533573  1.583233  1.644700  1.715560  1.748912
...                              ...       ...       ...       ...       ...
Western Sub-Saharan Africa  0.928563  0.932243  0.936594  0.963420  0.968598
World                       1.396497  1.438480  1.454998  1.468085  1.494452
Yemen                       0.627472  0.629641  0.630551  0.635504  0.636960
Zambia                      1.627975  1.630765  1.633169  1.650236  1.657008
Zimbabwe                    1.447595  1.475451  1.486370  1.511607  1.515641

[231 rows x 40 columns]

In [4]:
summary_statistics.max(0)

index                      count      28.000000
                           mean     6453.500000
                           std         8.225975
                           min      6440.000000
                           25%      6446.750000
                           50%      6453.500000
                           75%      6460.250000
                           max      6467.000000
Anxiety disorders (%)      count      28.000000
                           mean        8.651309
                           std         0.330468
                           min         8.258284
                           25%         8.533841
                           50%         8.555936
                           75%         8.910409
                           max         8.967330
Drug use disorders (%)     count      28.000000
                           mean        2.844713
                           std         0.372779
                           min         2.339515
                           25%         2.537455
                           50%         2.964724
                           75%         3.002382
                           max         3.452476
Depression (%)             count      28.000000
                           mean        6.459109
                           std         0.313720
                           min         6.233635
                           25%         6.392589
                           50%         6.464209
                           75%         6.542217
                           max         6.602754
Alcohol use disorders (%)  count      28.000000
                           mean        5.286263
                           std         0.540755
                           min         4.795118
                           25%         5.222455
                           50%         5.331905
                           75%         5.417435
                           max         5.474668
dtype: float64

In [5]:
min(df["Schizophrenia (%)"])
df[df["Schizophrenia (%)"]== min(df["Schizophrenia (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
3866,3866,Mozambique,MOZ,1992,0.146902,0.603562,0.076041,3.591123,0.488752,3.767717,1.594383

In [6]:
max(df["Schizophrenia (%)"])
df[df["Schizophrenia (%)"]== max(df["Schizophrenia (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
3992,3992,Netherlands,NLD,2006,0.37511,0.947197,0.409201,6.512405,0.937893,4.046277,0.722001

In [7]:
min(df["Anxiety disorders (%)"])
df[df["Anxiety disorders (%)"]== min(df["Anxiety disorders (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
6259,6259,Vietnam,VNM,2005,0.235363,0.546672,0.103511,2.023393,0.649577,2.923107,1.558684

In [8]:
max(df["Anxiety disorders (%)"])
df[df["Anxiety disorders (%)"]== max(df["Anxiety disorders (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
4016,4016,New Zealand,NZL,2002,0.339223,1.195859,0.635264,8.96733,2.141658,4.125419,1.447662

In [9]:
min(df["Depression (%)"])
df[df["Depression (%)"]== min(df["Depression (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
28,28,Albania,ALB,1990,0.193413,0.695013,0.130782,3.327587,0.497616,2.139903,1.709465

In [10]:
max(df["Depression (%)"])
df[df["Depression (%)"]== max(df["Depression (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
2245,2245,Greenland,GRL,1995,0.315753,0.590903,0.47654,5.648279,1.678836,6.602754,3.489129

In [11]:
min(df["Bipolar disorder (%)"])
df[df["Bipolar disorder (%)"]== min(df["Bipolar disorder (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
1260,1260,China,CHN,1990,0.318924,0.314535,0.085918,3.128626,1.147397,3.573966,0.981807

In [12]:
max(df["Bipolar disorder (%)"])
df[df["Bipolar disorder (%)"]== max(df["Bipolar disorder (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
4027,4027,New Zealand,NZL,2013,0.341031,1.206597,0.665308,8.53867,2.036344,3.969718,1.956453

In [13]:
min(df["Drug use disorders (%)"])
df[df["Drug use disorders (%)"]== min(df["Drug use disorders (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
705,705,Bosnia and Herzegovina,BIH,1995,0.1887,0.707569,0.099508,3.360878,0.38365,2.66578,2.826793

In [14]:
max(df["Drug use disorders (%)"])
df[df["Drug use disorders (%)"]== max(df["Drug use disorders (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
6103,6103,United States,USA,2017,0.33389,0.651236,0.512844,6.635055,3.452476,4.83561,2.040087

In [15]:
min(df["Eating disorders (%)"])
df[df["Eating disorders (%)"]== min(df["Eating disorders (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
3893,3893,Myanmar,MMR,1991,0.189887,0.500032,0.073908,3.216425,0.554288,2.246085,0.837158

In [16]:
max(df["Alcohol use disorders (%)"])
df[df["Alcohol use disorders (%)"]== max(df["Alcohol use disorders (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
524,524,Belarus,BLR,2010,0.194892,0.698158,0.19208,2.944119,0.782906,4.093854,5.474668

In [17]:
min(df["Alcohol use disorders (%)"])
df[df["Alcohol use disorders (%)"]== min(df["Alcohol use disorders (%)"])]

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
2833,2833,Italy,ITA,1995,0.235932,0.949639,0.604477,5.532503,1.281482,3.530343,0.44694